/*
 *    CORE ELEMENTS
 *******************************/

/* Header tiles */
.header-tile {
  padding: 0 10px 10px 0;

  .content {
    @include rounded-bottom;
    box-shadow: none;
    float: left;
    width: 100%;
    padding: 0 10px 10px 20px;
    .text-title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.8em;
    }
    .nav-stacked {
      font-size: 0.9em;
      li a {
        padding: 7px 7px;
      }
      li.list-title {
        text-transform: uppercase;
        margin: 13px 0 0;
        font-weight: bold;
        font-size: 0.8em;
        color: $dark-grey;
      }
      i {
        margin: 3px 10px 0 2px;
      }
      .badge {
        float: right;
        background: #999;
        color: white;
        margin-top: 3px;
      }
      .active a {
        background: $green;
        color: white;
      }
    }
    p {
      opacity: 0.7;
      font-size: 0.8em;
    }
  }
}

/* Sidebar modules */
.nav-module {
  @include rounded-bottom;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.loading-indicator {
  display: none;
  float: left;
  clear: both;
  margin-left: 443px;
  margin-top: -47px;
  color: $light-border;
  font-size: 1.5em;
}

/* Follow button */
.follow_form {
  margin-top: 10px;
  text-align: right;
  width: 100%;
  form {
    margin-bottom: 5px;
    input {
      // margin-top: -90px;
    }
  }
}

.label-primary {
  background: $link-color;
}

/* Bullet points with icons (sign up, welcome) */
.points {
  padding: 1em 4em;

  .point {
    font-size: 1.4em;
    margin: 17px 0;
    float: left;
    width: 100%;
    .icon {
      float: left;
      width: 50px;
      i {
        font-size: 1.2em;
        color: lighten($link-color, 5%);
      }
    }
    .text {
      float: left;
      width: calc(100% - 50px);
      font-size: 0.8em;
      color: $dark-grey;
    }
  }
}

/*
 *    RESPONSIVE
 *******************************/

@media (max-width: 767px) {

  // Sign up page
  .sign-up-box {
    h1 {
      font-size: 1em;
    }
    .user-snippet {
      width: 33% !important;
    }
  }

  // Welcome page
  .page-content .welcome-box {
    .points {
      padding: 0.5em;
    }
    .text {
      font-size: 14px;
    }
  }

  // Front page
  .front-page {
    .three-panes {
      padding-left: 0 !important;
    }
    button.sign-up {
      margin-top: 30px !important;
    }
    .copy {
      font-size: 14px;
      h1 {
        font-size: 25px;
      }
    }
  }

  // Pages
  .page {
    padding: 1em !important;
  }

  // Contact
  .contact {
    img {
      width: 150px;
    }
  }

  // About
  .about .logomark {
    width: 100%;
  }

  // Explore comments
  .comment-teaser {
    .body {
      margin-left: 0;
    }
    .comment-meta .text .summary {
      margin-bottom: 10px;
    }
  }

  // Explore users
  .user-teaser .details .follow_form {
    text-align: left;
    float: left;
    input {
      margin-top: 0;
    }
  }

  // Hide page images
  .contribute .fa-github,
  .contact img, .pages-about_journal img {
    display: none;
  }

  // View sit
  .sits-show {
    .header-tile {
      display: none;
    }
    .text-section {
      .back-button {
        margin-left: 10px;
      }
      header {
        padding: 0 10px;
        .mobile-user-summary {
          display: block;
          text-align: center;
          margin-bottom: 10px;
        }
      }
      h1.sit-title {
        font-size: 1.2em !important;
        margin-bottom: 20px;
      }
      .body {
        margin: 0 20px !important;
        font-size: 0.9em !important;
      }
      .like-row {
        margin-top: 1em;
        margin-bottom: 0;
      }
      // Prev/next navigation
      .sit_preview .content {
        display: none;
      }
      .sit_preview.next .arrow {
        float: right;
      }
    }
  }
  .sidebar,
  .col-md-9 {
    width: 100%;
    position: static; // Unclickable links fix
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 25px;
  }
  .header-tile {
    width: 100%;
    margin-bottom: 20px;
  }

  // Month view / profile
  .month-view {
    .entry .link {
      width: auto !important;
    }
  }

  // Goals
  .goals {
    .goal {
      .goal-desc {
        font-size: 1em !important;
      }
      .content {
        width: 70%;
      }
    }
  }
}
