/* Sit teaser */
article.sit-teaser {
  @include box-model;
  background: white;
  float: left;
  width: 100%;
  border-bottom: 1px solid $light-border;
  padding: 10px 10px;
  &:hover {
    cursor: pointer;
    background: #eee;
  }
  /* Avatar */
  .side {
    float: left;
    padding: 3px 2% 5px 5px;
  }
  .sit-content {
    margin-left: 70px;
    padding-bottom: 5px;
    .top {
      font-size: 0.9em;
      opacity: 0.7;
      a {
        color: #333;
      }
    }
    .body {
      padding: 5px 0;
      width: 97%;
      font-size: 0.8em;
    }
  }
  /* Lock icon for private events */
  .private-event {
    margin-top: -15px;
  }
}

// Sit Streak
.streak {
  float: left;
  text-align: center;
  width: 100%;
  margin-top: 1em;
  .label-success {
    border: 2px solid $green;
    background: $green;
    border-radius: 5px;
    color: white;
    .fa-bolt {
      color: white;
    }
  }
}
