
/* Timeline select */
.date_range_select {
  float: right;
	padding: 8px;
	background: white;
  border-radius: 5px;
  color: $dark-grey;
  font-size: 1.3em;
}

// Feed icon on sits / bio
.user-sit-feed {
	float: right;
	clear: left;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 20px;
}

// Edit etc
.my-actions {
  float: left;
  width: 100%;
  text-align: center;
  margin: 25px 0 0 0;
}

// Edit profile
.edit-profile {
	#user_avatar {
		margin-top: 10px;
	}
	.avatar-box {
		width: 42%;
		text-align: center;
		float: right;
		p {
			margin-bottom: 20px;
		}
		input {
			margin: 20px 0 0 90px;
		}
	}
	.update-details {
		float: left;
		width: 100%;
		text-align: center;
		margin: 20px 0;
		.btn-large {
			margin: 0 auto;
			float: none;
			clear: left;
		}
	}
	.contemplative-profile {
		float: left;
		width: 100%;
		.control-group {
			margin: 20px 0;
			width: 100%;
		}
		.help-block {
			font-size: 0.9em;
			color: #666;
			float: left;
			clear: left;
		}
		.wysihtml5-toolbar {
			display: none;
		}
	}
	.privacy-setting .warning {
		margin-top: 10px;
		font-size: 0.9em;
		color: $dark-grey;
	}
}

/* Suggested users */
.suggested-users {
    font-size: 0.9em;
    h2 {
        text-transform: uppercase;
        margin: 13px 0;
        font-weight: bold;
        font-size: 0.8em;
        color: $dark-grey;
    }
    .suggested-user {
        float: left;
        position: relative;
        width: 100%;
        margin: 10px 0;
        .avatar {
            float: left;
            width: 60px;
        }
        .details {
            float: left;
            width: calc(100% - 60px);
            overflow: hidden;

            .name {
                float: left;
                margin-top: 2px;
            }
            .location, .sit-count {
                float: left;
                clear: left;
                font-size: 0.7em;
                color: $dark-grey;
            }
        }
        .follow_form {
            position: absolute;
            right: 0px;
            top: 7px;
            margin-top: 0px;
            box-shadow: -10px 0px 10px 10px $background;
            width: auto;
        }
    }
}

// Welcome
.page-content .welcome-box {
	h2 {
		text-align: center;
	}
	p {
		text-align: center;
		font-size: 0.8em;
		opacity: 0.6;
	}
  .fb-like {
    padding: 0 10px;
  }
  .twitter-follow-container {
  	display: inline-block;
    padding-top: 3px;
  }
}

// Delete user link for moderators
.mod-delete-user {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 2em;
  font-size: 0.8em;
  a {
    opacity: 0.6;
    color: red;
  }
}
