!/log/.keep
**.orig
*.bowerrc
*.codekit
*.codekit-cache
*.pem
*.rbc
*.scssc
*.sublime-project
*.sublime-workspace
*.swp
*~
.byebug_history
.chef/syntaxcache/*
.DS_Store
.idea
.idea/
.powenv
.project
.rspec
.rvmrc
.sass-cache/*
.secret
.yarn-integrity
/.bundle
/config/application.yml
/config/chef/.chef/syntaxcache
/config/provision/configs/settings.yml
/config/provision/keys
/config/secrets.yml
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/db/latest.dump
/doc/
/log
/log/*
/node_modules
/public/assets
/public/packs
/public/packs-test
/public/system
/public/uploads
/spec/tmp
/tmp
/vendor/assets/bower_components
/vendor/bundle
bower.json
calendar_builder/output/pdf/
capybara-*.html
erd.pdf
gemsurance_report.html
icon
pickle-email-*.html
rerun.txt
todo.md
yarn-debug.log*
