.col-xs-12
  h1 = t "profile.h1"

  hr

  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: :true, method: :put , class: 'form-horizontal'}) do |f|

    = devise_error_messages!

    section.userpic-update
      .form-group
        = f.label :avatar, t("profile.userpic"), class: "control-label col-lg-2"
        .col-lg-10
          = large_avatar_of(@user)
          = f.file_field :avatar

      .row
        .col-lg-offset-2.col-lg-10
          = f.submit t("profile.update_userpic"), class: "btn btn-primary"

    section
      h2 = t "profile.basics"
      hr
      = form_element(f, :first_name, 'user', t("profile.first_name"),    3, { label: false })
      = form_element(f, :last_name,  'user', t("profile.last_name"),     3, { label: false })
      = form_element(f, :dob,        'user', t("profile.date_of_birth"), 3, { label: false, as: :date, start_year: Date.today.year - 90, end_year: Date.today.year - 12, order: [:day, :month, :year], include_blank: true, input_html: { class: 'col-lg-1' }} )
      .row
        = f.label :dob, t("profile.date_of_birth"), class: "col-lg-2 control-label"
        .col-lg-3
          .form-group.date.optional.user_dob
            = f.date_select :dob

      = form_element(f, :gender,  'user', t("profile.gender"),  3, { label: false, collection: User::GENDERS.each_with_index.to_a, as: :radio_buttons, item_wrapper_class: 'inline' })
      = form_element(f, :city,    'user', t("profile.city"),    3, { label: false })
      = form_element(f, :country, 'user', t("profile.country"), 3, { label: false })
      = form_element(f, :website, 'user', t("profile.website"), 3, { label: false })

      .row
        .col-lg-offset-2.col-lg-10
          = f.submit t("profile.update_details"), class: "btn btn-primary"

    section.contemplative-profile
      h2 = t("profile.contemplative_profile")
      hr
      = form_element(f, :who, 'user', "Who are you?", 8, { input_html: { rows: 3 }, hint: 'Tell us a little about yourself in one paragraph.', label: false })
      = form_element(f, :style, 'user', "Meditation style", 3, { hint: 'Zen, TM, Vipassana etc.', label: false })
      = form_element(f, :why, 'user', "Why do you practice?", 8, { input_html: { rows: 7, class: 'rich-textarea' }, hint: 'What inspires you to meditate?', label: false })
      = form_element(f, :practice, 'user', "How do you practice?", 8, { input_html: { rows: 7, class: 'rich-textarea' }, hint: 'What\'s your routine in an average sit?', label: false })
      = form_element(f, :default_sit_length, 'user', "Default sit length", 1, { label: false })

      .row
        .col-lg-offset-2.col-lg-10
          = f.submit "Update details", class: "btn btn-primary"

  hr
  .row.account-misc

    section.col-md-3.export-data
      h2#export = t "profile.export"
      p = t "profile.export_in"
      ul
        li = link_to "XML", "/u/#{current_user.username}/export.xml"
        li = link_to "JSON", "/u/#{current_user.username}/export.json"

    section.col-md-4.delete-account
      h2 = t "profile.account"
      p = t "profile.danger_zone"
      ul
        li = link_to t("profile.change_email"), "#"
        li
          = t "profile.unhappy"
          =< link_to t("profile.delete_account"), registration_path(resource_name), data: { confirm: t("forms.sure") }, method: :delete

    section.col-md-5.privacy-setting
      h#privacy = t "profile.privacy"
      ruby:
        publicity   = @user.private_stream ? "private" : "public"
        impublicity = @user.private_stream ? "public" : "private"

      p = t "profile.stream_is_#{publicity}"

      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put , class: 'form-horizontal'}) do |f|
        = f.input :private_stream, as: :hidden, input_html: { value: !@user.private_stream }
        = f.submit t("profile.make_it_#{impublicity}"), class: 'btn btn-primary btn-lg'
        p.warning = t("profile.make_#{impublicity}_warning").html_safe
