<% domain = Rails.application.secrets.domain %>

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family:Arial, sans serif; background: whitesmoke">
    <br>
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td width="10%"></td>
        <td width="80%"><%= image_tag "http://#{domain}/images/email_header.png", alt: Rails.application.secrets.brand %></td>
        <td width="10%"></td>
      </tr>
      <tr>
          <td width="10%"></td>
          <td style="background: white; border: 1px solid #CCC; padding: 20px" align="left" width="80%">
            <p>Hi all,</p>
            <p>Imagine a situation where you could enhance your practice by meditating with people from anywhere in the world. We want to make this happen! But we need your help.</p>
            <p>OpenSit has a <a href="http://#{Rails.application.secrets.domain}/calendar">new calendar page</a> with listings for shared online meditation sessions, powered by Google Hangouts. We already have our first member hosting a daily 30 minute session. We are looking for more people who are also interested in hosting meditation sessions.</p>
            <p>Please let us know (by replying to this email) if you would be interested in hosting a regular time slot. It's a pretty simple process:</p>
            <ol>
              <li>We create a Google Hangout link for you and add it to the group calendar</li>
              <li>You log in a minute before the meeting with either your favourite Dharma talk ready, or a guided meditation audio, or nothing at all!</li>
              <li>Set a timer and sit, share and inspire each other!</li>
            </ol>
            <p>Easy in. Easy out. Meditation happens!</p>
            <p>We will be scheduling a chat for people interested in learning more.</p>
            <p>For those just interested in joining rather than hosting a session; stay tuned for more!</p>
            <%= render "user_mailer/signature" %>
          </td>
          <td width="10%"></td>
      </tr>
    </table>
    <br>
  </body>
</html>
