<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family:Arial, sans serif; background: whitesmoke">
    <br>
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td width="10%"></td>
        <td width="80%"><img src="http://opensit.com/images/email_header.png" alt="OpenSit"></td>
        <td width="10%"></td>
      </tr>
      <tr>
          <td width="10%"></td>
          <td style="background:white; border:1px solid #CCC; padding:20px" align="left" width="80%">
            <p style="color: #666;line-height: 1.4;">Hi all,</p>

            <p style="color: #666;line-height: 1.4;">OpenSit is changing. We have some big ideas for 2016.

            <p style="color: #666;line-height: 1.4;">But we want to hear from you guys. Could you take a couple of minutes to answer a few questions? It would really help us out.</p>

            <strong><a style="color: #666;line-height: 1.4;" href="https://docs.google.com/forms/d/1v8uusa7rlznemglna0MnwsJ2o_ps55POwaTQnUwgVwc/viewform?usp=send_form">Click here to have your say</a></strong>

            <p style="color: #666;line-height: 1.4;">If you have further ideas or feedback you can just reply to this email and I’ll get back to you directly. Thanks so much for your time!</p>

            <p style="color: #666;line-height: 1.4;">Dan<br><a href="http://opensit.com">opensit.com</a></p>

          </td>
          <td width="10%"></td>
      </tr>
    </table>
    <br>
  </body>
</html>