@import 'opensit/base';

.about {

  .logomark {
    float: right;
    width: 400px;
    margin: 0 1em 1em 1em;
  }

  .opendude {
    float: right;
    margin: 0 2em 2em 2em;
  }

  .fa-globe {
    font-size: 10em;
    float: right;
    margin: 40px;
    color: $link-color;
  }
}
