.front-page

  .jumbotron
    border-bottom: 3px solid $green
    background: transparent url(image_path('women_sitting.jpg')) right center no-repeat
    background-size: cover
    text-align: center
    width: 100%
    float: left
    padding: 70px 20px
    margin-bottom: 0

    h1
      font-size: 45px
      line-height: 1
      margin-top: 0
      margin-bottom: 20px

    p
      font-weight: 400
      max-width: 800px
      margin-left: auto
      margin-right: auto

    .sign-up
      margin-top: 10px
      padding: 15px 30px

  .three-panes
    float: left
    width: 100%
    border-bottom: 3px solid $green
    color: $dark-grey
    padding: 30px 0
    background: white
    padding-left: 7.5%

    .pane
      border-radius: 20px
      font-size: 0.7em
      padding: 10px 20px
      text-align: center

      h2
        font-size: 24px

      i
        color: lighten($link-color, 5%)
        font-size: 5em

      p
        margin-bottom: 0
        line-height: 1.5

  .copy
    color: whitesmoke
    padding: 35px 3em 40px
    text-align: center
    background: $link-color
    border-bottom: 3px solid $green

    float: left
    width: 100%

    h2
      margin: 10px 0 20px

    p
      max-width: 900px
      margin-left: auto
      margin-right: auto

    a
      color: white
      text-decoration: underline

  .padder
    float: left
    width: 100%
    padding: 10px 0 0 10px
