.view-user {
  .back-button {
    margin-bottom: 15px;
  }
  .fill-out-your-profile {
    text-align: center;
  }
  .profile {
    float: left;
    width: 100%;
    background: white;
    border-top: 3px solid $green;
    margin-bottom: 20px;
    padding: 20px 40px;
    @include rounded-bottom;
    .lead {
      clear: both;
    }
    .profile-field {
      margin-bottom: 20px;
      float: left;
      font-size: 0.9em;
      .title {
        font-weight: bold;
        color: $link-color;
        margin-bottom: 10px;
      }
    }
    .edit-profile-btn {
      margin-bottom: 10px;
    }
    .edit-profile {
      font-weight: bold;
      font-size: 12px;
    }
    // More ->
    .expand-profile {
      font-size: 0.8em;
      font-weight: bold;
      float: right;
      margin: 20px;
    }
    .full-profile {
      display: none;
    }
  }
  .month-view {
    clear: left;
    background: white;
    padding: 20px;
    float: left;
    width: 100%;
    // box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
    border: 1px solid #e2e2e2;
    border-radius: 5px 5px 5px 5px;
    .month_stats_container {
      float: left;
      width: 100%;
      text-align: center;
      margin-top: 1em;
      .month_stats {
        font-size: 0.9em;
        color: #999;
      }
    }
    .day-of-the-month {
      float: left;
      clear: left;
      border-right: 2px solid $green;
      padding-right: 17px;
      .weekday {
        text-transform: uppercase;
        font-size: 0.6em;
        color: $dark-grey;
        text-align: center;
      }
      .date {
        clear: left;
        font-size: 1.5em;
        text-align: center;
      }
    }
    .entry {
      margin-left: 59px;
      margin-top: 25px;
      font-size: 0.9em;
      .link {
        float: left;
        margin-bottom: 10px;
        width: 50px;
        margin-right: 0.5em;
        text-align: center;
        color: #999;
      }
      .teaser {
        float: left;
        margin-bottom: 10px;
        width: 90%;
      }
        @media (max-width: 767px) {
            margin-top: 0px;
            .link {
                float: none;
                text-align: left;
            }
            .teaser {
                float: none;
                margin-bottom: 0px;
            }
        }
    }
    hr {
      margin-top: 30px;
      margin-bottom: 11px;
      border: 0;
      border-top: 1px solid #eeeeee;
      float: left;
      width: 100%;
    }
    .month_navigation {
      margin-top: 20px;
      a {
        padding: 10px;
      }
      .previous {
        float: left;
      }
      .next {
        float: right;
      }
    }
  }
}
