@import 'opensit/base';

/* Sign in/up */
.sign-in,
.sign-up-box {
  .well {
    background: white;
    float: none;
    clear: both;
    margin: 15px auto 0 auto;
    overflow: hidden;
  }
  input[type="email"],
  input[type="text"],
  input[type="password"] {
    margin-top: 10px;
    // border-radius: 10px;
    line-height: 26px;
    font-size: 20px;
    height: 52px;
  }
  label {
    margin-bottom: 10px;
  }
  .devise-options {
    float: left;
    margin-top: 10px;
    opacity: 0.9;
  }
}




/* Remove page-content padding for sign up / in pages */
.page-content.sign-up-or-in {
  padding-top: 30px;
}
