<div class="brand-header">
  <%= link_to root_path do %>
    <%= image_tag('logos/logomark_trans.png', class: 'main-logo') %>
    <p class="opensit">opensit</p>
  <% end %>
  <div class="already-signed-up">
    <%= t "authorization.already" %>
    <%= link_to t("authorization.sign_in"), new_user_session_path, class: "btn btn-default" %>
  </div>
</div>
