<div class="page text-section">
  <h1><%= t('pages.contacts.title') %></h1>
  <%= t(
          'pages.contacts.page_html',
          image: image_tag('logos/logo-2.png', class: 'logomark', alt: ENV.fetch("BRAND")),
          brand: ENV.fetch("BRAND"),
          public_person: ENV.fetch("PUBLIC_PERSON"),
          public_email: mail_to(ENV.fetch("PUBLIC_EMAIL")),
          github_link: link_to('GitHub', "https://github.com/#{ENV.fetch("GITHUB_ID")}")
      ) %>
</div>
