.help-block
  font-size: 13px

.control-label + .help-block
  margin-top: -7px

.control-label.required
  &:after
    content: "*"
    color: hsl(0, 71%, 51%)
    margin-left: 2px

.control-label
  font-weight: 400


.field_with_errors
  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea
    border: solid 1px crimson

#error_explanation
  border: solid 1px crimson
  padding: 12px 14px
  margin-bottom: 20px

  h2
    font-size: 17px
    margin-top: 0

  ul
    color: crimson
    padding-left: 1.3em
    font-size: 15px
    margin-bottom: 0
