$footer-height: 150px;

// html, body {
//   height: 100%;
//   width: 100%;
// }

/* Stop width-jumps by putting scrollbars on all pages */
html {
  overflow-y: scroll;
}

/* Sticky footer */
.container-full-width {
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.base-container {
  min-height: 100%;
}

.page-content {
  padding-top: 80px; /* Due to fixed nav bar */
  padding-bottom: 10px;
}

/* Section container for pages that have more than one column */
.pagination-container {
  margin: 20px 0 0 0;
  width: 100%;
  float: left;
  text-align: center;
}

/* Give content some padding between footer without breaking sticky footer */
.spacer {
  float: left;
  clear: both;
  height: 20px;
}

// .site-footer {
//   position: relative;
//   margin-top: -$footer-height;
//   height: $footer-height - 1;
//   clear: both;
// }
