- if request.referrer

	ruby:
		def back_button_translate_key
			r = request.referrer
			return "sit.search_results" if r =~ /search/
			return "sit.explore"        if r =~ /explore/
			return "sit.tag"            if r =~ /tags/
			return "sit.favourites"     if r =~ /favs/
			return "sit.timeline"       if r =~ /u/
		end

		button_text = "← #{t('sit.back_to')}"

		if back_button_translate_key
			button_text << " "
			button_text << t(back_button_translate_key)
		end

	= link_to button_text, request.referrer, class: "back-button btn btn-default" if back_button_translate_key
