// Guest nav bar - sign up or login
// Sign up nav bar hint

.sign-up-nav
  background: $navbar
  height: 66px

  .logo-link
    display: inline-block
    img
      float: inherit

  .nav-text
    color: white
    float: none
    margin-top: 19px
    font-size: 15px
    color: hsl(0, 0%, 85%)

    img
      height: 30px
      margin-top: -3px

    .login-link
      text-decoration: underline
      color: white

  @media (max-width: 767px)
    .nav-text
      text-align: center

  @media (min-width: 990px)
    .logo-link
      margin-right: 30px

  @media (max-width: 989px)
    .expanded
      display: none

    .btn-primary
      margin-left: 20px

@media (max-width: 384px)
  .sign-up-nav
    height: 85px

  .logo-link
    margin-bottom: 5px
