.avatar
  img
    max-width: 100%


.user-summary

  .name-userpic
    display: flex
    display: -webkit-flex
    justify-content: space-between
    align-items: center

  .avatar
    display: block
    margin-right: 20px
    flex-grow: 0
    width: 50px

  .name-location
    flex-grow: 1

    .username
      font-size: 1em
      font-weight: bold

    .location
      font-size: 0.8em


  .user-details
    margin-top: 20px
    width: 100%

  .latest
    margin-top: 20px

  h5
    margin-top: 0

  .full-journal-link
    clear: left
    float: left
    width: 100%
    font-size: 0.7em
    margin-left: 25px


.user-details

  .info-block
    color: $dark-grey
    font-size: 0.8em
    margin: 5px 0

  .user-website
    a
      word-break: break-word


.add-a-sit
  margin-top: 15px
