p Привет, #{@resource.email}!
p Вы запросили восстановление пароля в https://#{Rails.application.secrets.domain}. Нажав на ссылку ниже, вы перейдёте на страницу, где сможете сменить ваш пароль на новый. Если вы не запрашивали смену пароля, просто удалите это письмо.
blockquote
  p = link_to "Сменить пароль", edit_password_url(@resource, reset_password_token: @token)
p Команда #{Rails.application.secrets.brand}
