$('.report-modal select, .report-modal textarea').val('');
$('.report-modal').modal('hide');
$('<div class="alert alert-success"><%= t('report.thank_you') %></div>').prependTo('.page-content > .row');
