title = full_title(@title)

meta http-equiv="Content-Type" content="text/html; charset=UTF-8"
meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"
= content_tag :link, nil, rel: "shortcut icon", href: image_path('logos/favicon_logo.png')
= content_tag :meta, nil, name: "yandex-verification", content: '162a2b9e9782301d'
= content_tag :meta, nil, name: "description", content: meta_desc(@desc) if !(request.fullpath =~ /sits/)

= csrf_meta_tags

= stylesheet_link_tag "bootstrap-customized"
= stylesheet_link_tag "application"

= javascript_include_tag "vendor"
= javascript_include_tag "application"
